$gray-1: #f6f6f6;
$gray-2: #e2e2e2;
$gray-3: #8b8b8b;
$gray-4: #6f6f6f;
$gray-5: #3e3e3e;
$gray-6: #222222;
$rose-1: #fff7f9;
$rose-2: #ffdce5;
$rose-3: #ff3b8d;
$rose-4: #db0072;
$rose-5: #800040;
$rose-6: #4c0023;
$raspberry-1: #fff8f8;
$raspberry-2: #ffdddf;
$raspberry-3: #ff426c;
$raspberry-4: #de0051;
$raspberry-5: #82002c;
$raspberry-6: #510018;
$red-1: #fff8f6;
$red-2: #ffddd8;
$red-3: #ff4647;
$red-4: #e0002b;
$red-5: #830014;
$red-6: #530003;
$orange-1: #fff8f5;
$orange-2: #ffded1;
$orange-3: #fd4d00;
$orange-4: #cd3c00;
$orange-5: #752100;
$orange-6: #401600;
$cinnamon-1: #fff8f3;
$cinnamon-2: #ffdfc6;
$cinnamon-3: #d57300;
$cinnamon-4: #ac5c00;
$cinnamon-5: #633300;
$cinnamon-6: #371d00;
$amber-1: #fff8ef;
$amber-2: #ffe0b2;
$amber-3: #b98300;
$amber-4: #926700;
$amber-5: #523800;
$amber-6: #302100;
$yellow-1: #fff9e5;
$yellow-2: #ffe53e;
$yellow-3: #9c8b00;
$yellow-4: #7d6f00;
$yellow-5: #463d00;
$yellow-6: #292300;
$lime-1: #f7ffac;
$lime-2: #d5f200;
$lime-3: #819300;
$lime-4: #677600;
$lime-5: #394100;
$lime-6: #222600;
$chartreuse-1: #e5ffc3;
$chartreuse-2: #98fb00;
$chartreuse-3: #5c9b00;
$chartreuse-4: #497c00;
$chartreuse-5: #264500;
$chartreuse-6: #182600;
$green-1: #e0ffd9;
$green-2: #72ff6c;
$green-3: #00a21f;
$green-4: #008217;
$green-5: #004908;
$green-6: #062800;
$emerald-1: #dcffe6;
$emerald-2: #5dffa2;
$emerald-3: #00a05a;
$emerald-4: #008147;
$emerald-5: #004825;
$emerald-6: #002812;
$aquamarine-1: #daffef;
$aquamarine-2: #42ffc6;
$aquamarine-3: #009f78;
$aquamarine-4: #007f5f;
$aquamarine-5: #004734;
$aquamarine-6: #00281b;
$teal-1: #d7fff7;
$teal-2: #00ffe4;
$teal-3: #009e8c;
$teal-4: #007c6e;
$teal-5: #00443c;
$teal-6: #002722;
$cyan-1: #c4fffe;
$cyan-2: #00fafb;
$cyan-3: #00999a;
$cyan-4: #007a7b;
$cyan-5: #004344;
$cyan-6: #002525;
$powder-1: #dafaff;
$powder-2: #8df0ff;
$powder-3: #0098a9;
$powder-4: #007987;
$powder-5: #004048;
$powder-6: #002227;
$sky-1: #e3f7ff;
$sky-2: #aee9ff;
$sky-3: #0094b4;
$sky-4: #007590;
$sky-5: #00404f;
$sky-6: #001f28;
$cerulean-1: #e8f6ff;
$cerulean-2: #b9e3ff;
$cerulean-3: #0092c5;
$cerulean-4: #00749d;
$cerulean-5: #003c54;
$cerulean-6: #001d2a;
$azure-1: #e8f2ff;
$azure-2: #c6e0ff;
$azure-3: #008fdb;
$azure-4: #0071af;
$azure-5: #003b5e;
$azure-6: #001c30;
$blue-1: #f0f4ff;
$blue-2: #d4e0ff;
$blue-3: #0089fc;
$blue-4: #006dca;
$blue-5: #00386d;
$blue-6: #001a39;
$indigo-1: #f3f3ff;
$indigo-2: #deddff;
$indigo-3: #657eff;
$indigo-4: #0061fc;
$indigo-5: #00328a;
$indigo-6: #001649;
$violet-1: #f7f1ff;
$violet-2: #e8daff;
$violet-3: #9b70ff;
$violet-4: #794aff;
$violet-5: #2d0fbf;
$violet-6: #0b0074;
$purple-1: #fdf4ff;
$purple-2: #f7d9ff;
$purple-3: #d150ff;
$purple-4: #b01fe3;
$purple-5: #660087;
$purple-6: #3a004f;
$magenta-1: #fff3fc;
$magenta-2: #ffd7f6;
$magenta-3: #f911e0;
$magenta-4: #ca00b6;
$magenta-5: #740068;
$magenta-6: #44003c;
$pink-1: #fff7fb;
$pink-2: #ffdcec;
$pink-3: #ff2fb2;
$pink-4: #d2008f;
$pink-5: #790051;
$pink-6: #4b0030;
$primary10: #002020;
$primary20: #003737;
$primary25: #004344;
$primary30: #004f50;
$primary35: #005c5d;
$primary40: #00696b;
$primary50: #008586;
$primary60: #00a1a3;
$primary70: #1ebebf;
$primary80: #4cdadb;
$primary90: #6ff6f8;
$primary95: #afffff;
$primary98: #e2ffff;
$primary99: #f1fffe;
$secondary10: #041f20;
$secondary20: #1b3435;
$secondary25: #274040;
$secondary30: #324b4b;
$secondary35: #3e5757;
$secondary40: #4a6363;
$secondary50: #627c7c;
$secondary60: #7b9696;
$secondary70: #95b0b0;
$secondary80: #b0cccb;
$secondary90: #cce8e8;
$secondary95: #daf6f6;
$secondary98: #e3fffe;
$secondary99: #f1fffe;
$tertiary10: #051c35;
$tertiary20: #1d314b;
$tertiary25: #283c57;
$tertiary30: #344863;
$tertiary35: #40536f;
$tertiary40: #4c5f7c;
$tertiary50: #647896;
$tertiary60: #7e92b1;
$tertiary70: #98accc;
$tertiary80: #b3c8e9;
$tertiary90: #d4e3ff;
$tertiary95: #ebf1ff;
$tertiary98: #f8f9ff;
$tertiary99: #fdfcff;
$neutral10: #191c1c;
$neutral20: #2d3131;
$neutral25: #383c3c;
$neutral30: #444747;
$neutral35: #4f5353;
$neutral40: #5b5f5f;
$neutral50: #747877;
$neutral60: #8e9191;
$neutral70: #a9acab;
$neutral80: #c4c7c6;
$neutral90: #e0e3e2;
$neutral95: #eff1f0;
$neutral98: #f7faf9;
$neutral99: #fafdfc;
$neutral-variant10: #141d1d;
$neutral-variant20: #293232;
$neutral-variant25: #343d3d;
$neutral-variant30: #3f4948;
$neutral-variant35: #4a5454;
$neutral-variant40: #566060;
$neutral-variant50: #6f7979;
$neutral-variant60: #899392;
$neutral-variant70: #a3adad;
$neutral-variant80: #bec8c8;
$neutral-variant90: #dae5e4;
$neutral-variant95: #e9f3f2;
$neutral-variant98: #f1fbfb;
$neutral-variant99: #f4fefe;
$error10: #410002;
$error20: #690005;
$error25: #7e0007;
$error30: #93000a;
$error35: #a80710;
$error40: #ba1a1a;
$error50: #de3730;
$error60: #ff5449;
$error70: #ff897d;
$error80: #ffb4ab;
$error90: #ffdad6;
$error95: #ffedea;
$error98: #fff8f7;
$error99: #fffbff;