* {
  padding: 0;
  margin: 0;
  line-height: calc(0.25rem + 1em + 0.25rem);
  transition: all 250ms cubic-bezier(0.25, 0, 0.4, 1);
}

*,
::before,
::after {
  box-sizing: border-box;
}

*:where(:not(fieldset, meter, progress)) {
  background-repeat: no-repeat;
  background-origin: border-box;
  border-style: solid;
  border-width: 0;
}

html {
  font-size: 100%;
  tab-size: 2;
  cursor: default;
  text-size-adjust: 100%;
  block-size: 100%;
}

body {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  min-block-size: 100%;
  text-rendering: optimizeSpeed;
}

:where(:target) {
  scroll-margin-block: 5ex;
}

:where(audio, button, canvas, embed, iframe, img, input, label, object, select, svg, textarea, video) {
  display: block;
}

:where(img, svg, video) {
  block-size: auto;
  max-inline-size: 100%;
}

:where(svg) {
  fill: currentColor;
  stroke: none;
}

:where(svg):where(:not([fill])) {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
}

:where(svg):where(:not([width])) {
  inline-size: 5rem;
}

:where(button, input, select, textarea),
:where(input[type="file"])::-webkit-file-upload-button {
  font: inherit;
  font-size: inherit;
  color: inherit;
  border-radius: 0.25em;
  word-spacing: inherit;
}

:where(input, select, textarea),
:where(input[type="file"])::-webkit-file-upload-button {
  padding: 0.5em;
}

:where(textarea) {
  resize: none;
}

:where(h1, h2, h3, h4, h5, h6) {
  text-wrap: balance;
}

:where(h1, h2, h3, h4, h5, h6, p) {
  overflow-wrap: break-word;
}

:where(
    a,
    button,
    dd,
    details,
    dt,
    input[type="email"],
    input[type="number"],
    input[type="password"],
    input[type="text"],
    label,
    p,
    select,
    textarea
  ),
:where(input[type="file"])::-webkit-file-upload-button {
  letter-spacing: 0.025em;
}

:where(p) {
  hyphens: auto;
}

:where(ol, ul) {
  list-style-position: inside;
}

:where(ol, ul)[role="list"] {
  list-style: none;
}

:not(:active):focus-visible {
  outline-offset: 0.25em;
}

:where(hr) {
  height: 0;
  color: inherit;
}

:where(a, button, details, input, label, select, summary, textarea) {
  touch-action: manipulation;
}

:where(button) {
  padding: 0.5em 1em;
  text-align: center;
  appearance: button;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

:where(button, select) {
  text-transform: none;
}

:where(summary) {
  display: list-item;
}

:where(a) {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

:where(button)[disabled] {
  cursor: not-allowed;
}

:where(a, audio, button, details, input[type="checkbox"], input[type="radio"], select, video) {
  cursor: pointer;
}

:where(input[type="email"], input[type="number"], input[type="password"], input[type="text"], textarea) {
  cursor: text;
}

:where(img) {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-style: none;
}

@media (inverted-colors: inverted) {
  :where(img, svg, video) {
    filter: invert(100%);
  }
}
